<section class="card">
    <div class="card-body">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusantium ad rem asperiores iure, minus nemo eius aliquid amet ut adipisci minima pariatur perspiciatis? In quo voluptas quos non temporibus. A excepturi quia, iure obcaecati ab accusamus veniam quam commodi?</p>
        <hr class="my-4">

        <div class="col text-center">
            <a class="btn btn-primary btn-lg" href="https://github.com/reon150" role="button">Github<i class="fab fa-github mx-2"></i></a>
            <a class="btn btn-primary btn-lg" href="#" role="button">LinkedIn<i class="fab fa-linkedin mx-2"></i></a>
            <a class="btn btn-primary btn-lg" href="https://www.facebook.com/ronaldemilio.ogandonegron.9" role="button">Facebook<i class="fab fa-facebook mx-2"></i></a>
        </div>
    </div>
</section>