<section class="card">
    <div class="card-body">
        <h1 class="text-center">About me</h1>
        <br>
        <p class="text-justify">I am a Mechatronics Technologist and I am currently pursuing software engineering.</p>
        <br>
        <p>I define myself as someone who is passionate about technology, self-taught and who always wants to learn new technologies.</p>
        <br>
        <p>Have a nice day! ;)</p>
        <hr class="my-4">
        <div class="col text-center">
            <a class="btn btn-primary btn-lg mx-2" href="https://github.com/reon150" target="_blank" role="button">Github<i class="fab fa-github mx-2"></i></a>
            <a class="btn btn-primary btn-lg mx-2" href="https://www.linkedin.com/in/ronald-ogando-negron" target="_blank" role="button">LinkedIn<i class="fab fa-linkedin mx-2"></i></a>
        </div>
    </div>
</section>