<div class="d-flex flex-wrap justify-content-around">
  <div class="card m-3" style="width: 22rem;">
    <img src="https://www2.minijuegosgratis.com/v3/games/thumbnails/229120_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title d-inline">Card title</h5><a href=""><i class="far fa-trash-alt float-right"></i></a><a href="/games/edit/"><i class="far fa-edit float-right mx-2"></i></a>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="col text-center">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="card m-3" style="width: 22rem;">
    <img src="https://www2.minijuegosgratis.com/v3/games/thumbnails/229120_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="col text-center">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

    <div class="card m-3" style="width: 22rem;">
    <img src="https://www2.minijuegosgratis.com/v3/games/thumbnails/229120_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="col text-center">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

    <div class="card m-3" style="width: 22rem;">
    <img src="https://www2.minijuegosgratis.com/v3/games/thumbnails/229120_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="col text-center">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>


</div>