<div class="jumbotron mt-4">
    <h1 class="display-4">Video Games List App!</h1>
    <p class="lead">
        This is a simple CRUD webApp I made for fun :D<br>
        It is a simple Video Game list that can be updated
    </p>
    <hr class="my-4">
    <p>This project was created in 2020 using MEN stack:</p>
    <ul>
        <li>Frontend: Vanilla JavaScript <i class="fab fa-js-square"></i> and Boostrap 4 <i class="fab fa-bootstrap"></i></li>
        <li>Backend: node/express.js <i class="fab fa-node-js"></i> and mongoDB <i class="fas fa-database"></i></li>
    </ul>
    <div class="col text-center">
        <a class="btn btn-primary btn-lg" href="#" role="button">Source Code<i class="fab fa-github ml-2"></i></a>
    </div>
</div>